<!DOCTYPE html>
<html>
  <head>
    <title>Space</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %><br>
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %><br>
    <% end %>
    Your cart: <span class="cart-count"><%= current_order.order_products.count %></span> items
    Total: $<span class="cart-total"><%= current_order.total_price.to_i %></span> million
    <%= link_to "Your Cart", order_products_path %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
